* {
  text-align: center;
  outline: none;
  /* margin: 0 auto; */
}
body {
  background-color: rgb(168, 228, 175);
}

.button1 {
  border-radius: 8px;
  width: 20vw;
}

.button2 {
  height: auto;
  font-size: 1rem;
  width: auto;
  border-radius: 2rem;
  display: inline-block;
  border-color: black;
  border-width: 2px;
  padding: 0.7rem 1.6rem;
  margin: 0.6rem;
}

.button7 {
  height: auto;
  width: auto;
  border-radius: 12px;
  font-size: 1rem;
  padding: 0.4rem;
  background-color: chartreuse;
}

button {
  cursor: pointer;
}

@media (min-width: 300px) {
  .button1 {
    width: 0.1vw;
  }
}
